# Basic Data Preprocessing 
`update date: 07/08/2021`

`Author: thirteen-bears`

`Based on d2l`

In [12]:
#build a small dataset
import os
os.makedirs(os.path.join('..','data'),exist_ok = True) # create a directory
data_file = os.path.join('..','data','house_tiny.csv') # csv: use ',' to split value
with open(data_file,'w') as f:
    f.write('NumRoom,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,Cam,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [13]:
#!pip install pandas # un-note the line to install pandas
import pandas as pd
data = pd.read_csv('../data/house_tiny.csv')
data

   NumRoom Alley   Price
0      NaN  Pave  127500
1      2.0   Cam  106000
2      4.0   NaN  178100
3      NaN   NaN  140000

## Deal with Missing Data

In [15]:
# deal with missing value
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2] #iloc = index location
inputs = inputs.fillna(inputs.mean())
inputs # string will not change

   NumRoom Alley
0      3.0  Pave
1      2.0   Cam
2      4.0   NaN
3      3.0   NaN

In [16]:
# deal with missing strings
inputs = pd.get_dummies(inputs,dummy_na = True)
inputs

   NumRoom  Alley_Cam  Alley_Pave  Alley_nan
0      3.0          0           1          0
1      2.0          1           0          0
2      4.0          0           0          1
3      3.0          0           0          1

In [17]:
import torch
X,y = torch.tensor(inputs.values),torch.tensor(outputs.values)
X,y
# Note: float 64 need be converted to float 32 in deep learning to accelarate computation

(tensor([[3., 0., 1., 0.],
         [2., 1., 0., 0.],
         [4., 0., 0., 1.],
         [3., 0., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))